
@model ServiceReference1.book

@{
    ViewData["Title"] = "*** IS3106 Lecture 12 DotNet :: 3 - SOAP Web Service - Update Book ***";
}

<h1>@ViewData["Title"]</h1>
<h2>Demo03 > Update Book</h2>

<form asp-action="UpdateBook">

    @if (ViewData["InfoMessage"] != null)
    {
        <div class="infoText">@ViewData["InfoMessage"]</div>
    }

    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="errorText">@ViewData["ErrorMessage"]</div>
    }

        <table class="defaultTable" style="width: 100%;">
            <tr>
                <th style="width: 200px;">
                    ID
                </th>
                <td>
                    @Model.id                    
                </td>
                <td style="width: 400px;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <th style="width: 200px;">
                    ISBN
                </th>
                <td>
                    <input asp-for="isbn" />
                </td>
                <td style="width: 400px;">
                    <span asp-validation-for="isbn" class="errorText"></span>
                </td>
            </tr>
            <tr>
                <th style="width: 200px;">
                    Title
                </th>
                <td>
                    <input asp-for="title" />
                </td>
                <td style="width: 400px;">
                    <span asp-validation-for="title" class="errorText"></span>
                </td>
            </tr>
            <tr>
                <th style="width: 200px;">
                    Author
                </th>
                <td>
                    <input asp-for="author" />
                </td>
                <td style="width: 400px;">
                    <span asp-validation-for="author" class="errorText"></span>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Update" class="btn btn-default" />
                </td>
            </tr>
        </table>
</form>